<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <style>
            .home{
                text-decoration-line: none;
                color: inherit;
            }

            a:hover {
                color : black;
            }




            .fixed_img_col li{
                float:left;
                width: 180px;
                height : 180px;
                padding: 20px 15px;
                margin-bottom : -1px;
                border-bottom : 1px solid #aaa;
            }

            .fixed_img_col li a {
                display : block;
            }

            .fixed_img_col li a .thumb{
                position: relative;
                display: block;
                height: 120px;
                color: #666;

                line-height: 120px;
            }



            .fixed_img_col li a strong{
                display: block;
                padding : 8px 0 4px;
                font-weight: bold;
                line-height: 1.4;
            }

           .fixed_img_col li p{
            font-size: .9em;
           }
            .wrap {
                width : 1000px;
                margin: 0 auto;
            }


            ol ,li, ul, textarea, body{
                margin:0;
                padding:0;
            }

            ul, ol{
                list-style:none;
            }

            img{
                border:0;
                width:150px;
                height:120px;
            }

            strong{
                text-align:center;
            }


            .paginator{
                justify-content: center;
                display:flex;
            }

        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <h3><a class="home" href="../home/">DR.PLANT</a></h3>
            <div class="container">
                <a class="navbar-brand" href="../information/">병충해 정보</a>
                <a class="navbar-brand" href="../identification/">병충해 판별</a>
                <a class="navbar-brand" href="../communicate/">정보 공유</a>
                <a class="navbar-brand" href="#!">게시판 3</a>
                {% if name %}
                    <h5>{{name}} 님</h5>
                    <a href="../logout/" class="btn btn-default btn-flat">Log Out</a>
                {% endif %}

            </div>
        </nav>

        <!--       표 복사 시작-->
            <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <!--                            셀렉트 박스-->
                            <div class="select_box">
                            <select id="plant_category">
                                <option>작물분류</option>
                                <option>식량작물</option>
                                <option>과수</option>
                            </select>
                            <select id="plant_species">
                                <option>작물명</option>
                            </select>
                            </div>
<!--                            끝-->
                        </div>

                        <div class="wrap">

                            <div id="pest" class="fixed_img_col">
                                {% for pest in pests %}
                                <ul>
                                    <li>
                                        <a>
                                            <span class="thumb">
<!--                                                img src : {{pest.pest_img}}-->
                                                <img src=" {{pest.pest_img}}">
                                            </span>
<!--&lt;!&ndash;                                            strong : {{pest.plant_nm}} &ndash;&gt;-->
                                            <strong>{{pest.plant_nm}}</strong>
                                        </a>

                                    </li>

                                </ul>
                                {% endfor %}
                            </div>
                        </div>

                        <!--                                페이지네이터 css weatherClothes 참고-->
<!--                                페이지 네이터-->
<!--                        <div class="paginator">-->
<!--                            <div>-->
<!--                                {% if pests.has_previous %}-->
<!--                                <a class="abutton" href="?page=1" style="color:black;">맨 앞으로</a>-->
<!--                                <a class="abutton" style="color:black;" href="?page{{ pests.previous_page_number }}">이전</a>-->
<!--                                {% endif %}-->
<!--                            </div>-->

<!--                            <div>-->
<!--                                {% for page in pests.paginator.page_range %}-->
<!--                                {% if page >= pests.number|add:-2 and page <= pests.number|add:2 %}-->
<!--                                <span class="{% if page == pests.number %}current{% endif %}">-->
<!--                                    <a href="?page={{ page }}" style="color:black;">{{ page }}</a>-->
<!--                                </span>-->
<!--                                {% elif page >= pests.number|add:-3 and page <= pests.number|add:3 %}-->
<!--                                ..-->
<!--                                {% endif %}-->
<!--                                {% endfor %}-->
<!--                            </div>-->
<!--                        </div>-->

<!--                                페이지네이터 끝-->

            </div>


        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            $(function () {
                $('#plant_category').change(function () {
                    window.alert('event')
                    $.ajax({
                    url: '../category/',
                    type: 'post',
                    data: {'csrfmiddlewaretoken' : '{{csrf_token}}', 'plant_category' : $('#plant_category').val() },
                    dataType : 'json',
                    success : function(lst) {
                        window.alert('success')
<!--                    jquery each 함수  function 이하에서 index 배열의 인덱스 / 두번째 매개변수는 값-->
                        $.each(lst, function(idx, obj) {
                            console.log(obj.species)
                            txt = ''
                            $.each(obj.species, function(idx, species) {
                                txt += '<option>'+species+'</option>'
                            })
                            window.alert(txt)
                            $('#plant_species').empty().html(txt)
                        })

                    }
                    })
                })

                $('#plant_species').change(function () {
                    window.alert('event')
                    $.ajax({
                    url: '../species/',
                    type: 'post',
                    data: {'csrfmiddlewaretoken' : '{{csrf_token}}', 'plant_species' : $('#plant_species').val() },
                    dataType : 'json',
                    success : function(lst) {
                        window.alert('success')
                        $('#pest').empty()
                        var txt = ''
<!--                    jquery each 함수  function 이하에서 index 배열의 인덱스 / 두번째 매개변수는 값-->
                        $.each(lst, function(idx, obj) {
<!--                            alert("idx - "+idx)-->
<!--                            alert(obj.pest_nm)-->
<!--                            alert(obj.pest_img)-->

                            console.log(obj.pest_nm)

                            txt +="<ul><li><a href=../viewInformation?no='"+obj.information_no+"'><span class='thumb'><img src='"+obj.pest_img+"'></span>"
                            txt +="<strong>"+obj.pest_nm+"</strong></a></li></ul>"

<!--                            window.alert(txt)-->

                        })
                        $('#pest').html(txt)

                    }
                    })
                })

            })


        </script>
    </body>
</html>
